.header {
  height: 63px;
  width: calc( 100% - 60px ) !important;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  z-index: 9;

}

.menu {
  cursor: pointer;
  transition: .2s;
}
.menu:hover {
  color: #8b0000 !important;
}